html, body {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(45deg, rgb(148, 146, 146), rgb(7, 8, 8));
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
  }

/* * {box-sizing: content-box; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
     } */

#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;

}
#titleButton {
    background: none;
    border: black;
    font-size: 25px;
    color: #fffbfb;
height:100%;
width:100%;
/* display: flex;
flex-direction: row-reverse;
flex-grow: 0;
align-items: center;
justify-content: center; */
margin: 5px;
}

#titleButton:hover {
    color: #D064A0;
}
#titleButton:active {
    color: #984472;
}

h2, em {
    
    width: 100%;
}
.text {
    color: #fffbfb;
  }
#rnbo-root {
    margin: auto;
    max-width: 540px;
}

#rnbo-clickable-keyboard {
    display: flex;
    flex-wrap: wrap;
}

#rnbo-clickable-keyboard > div {
    margin: 2px;
    border: solid black 1px;
    min-height: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rnbo-clickable-keyboard > div.clicked {
    background: #222222;
    color: #dddddd;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}
/* */
.rounded {
    border-radius: 5px;
}
/* .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */


.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    min-height: 50px;
    min-width: none;
}
.row {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.dice-output {
    width: 75px;
    text-align: center;
    color: #ddd9d9;
    border-width: 1px;
    border-color: #ddd9d9;
    border-style: solid;
    border-radius: 5px;
}
.dice-image {
    /* width: 100px;
    height: 100px; */
    transform: rotate(2turn);
    -webkit-transform: rotate(2turn);
    -moz-transform: rotate(2turn);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    
  }

.dice-image:active {
    transform: rotate(0deg);
    transition:  0s;
  }
/* .dice-image {
transition: all 2s;
transition-timing-function: ease-in-out;

}
.dice-image:active {
 transform: rotate(45deg)   
} */

/* .dice-image {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
     -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
     -o-animation-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}

.dice-image:active {
   transform: rotate(1000deg);
   -webkit-transform: rotate(1000deg);
   -ms-transform: rotate(1000deg); */
}
#main-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 500px;
    margin: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
}

#main-title,
#sub-title {
    margin: 10px;
    text-align: center;
}

#dice {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dice-output-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}